<footer class="footer bg-secondary text-center py-3">
  <div class="container">
    <p class="white">&copy; <%= Time.now.year %> Gaijinfoodie.</p>
    <p>
      <a href="#"><i class="fa-brands fa-facebook fa-lg"></i></a>
      <a href="#"><i class="fa-brands fa-instagram fa-lg"></i></a>
      <a href="#"><i class="fa-brands fa-x-twitter fa-lg"></i></a>
    </p>
  </div>
</footer>
